 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Poppins', sans-serif;
     background-color: #1c1c1c;
     color: #fff;
     padding: 150px;
 }

 html {
    overflow-x: hidden;
 }

 .btn-voltar {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #4B516C;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 10px #4B516C;
  transition: 0.3s ease;
  z-index: 1;
 
}

.btn-voltar:hover {
  background-color: #343a50;
  transform: scale(1.05);
}

.btn-voltar i {
  font-size: 1.2rem;

}

/* header */

 header {
     text-align: center;
     margin-bottom: 40px;
 }

 h1 {
     font-size: 2.8rem;
     color: #C9A96D;
 }

 /* Section container */

 .faq-container {
     width: 100%;
     max-width: 900px;
     margin: 0 auto;

 }

 .faq-item {
     background-color: #2b2b2b;
     border-radius: 12px;
     margin-bottom: 30px;
     overflow: hidden;
     transition: all 0.3s ease;
 }

 .faq-question {
     padding: 20px;
     cursor: pointer;
     position: relative;
     font-weight: 600;
     font-size: 1.1rem;
 }

 .faq-question::after {
     content: '+';
     position: absolute;
     right: 20px;
     font-size: 1.5rem;
     transition: transform 0.3s ease;
 }

 .faq-item.open .faq-question::after {
     transform: rotate(45deg);
 }

 .faq-answer {
     max-height: 0;
     overflow: hidden;
     padding: 0 20px;
     transition: all 0.4s ease;
     font-size: 0.95rem;
     line-height: 1.6;
     color: #ccc;
 }


 .faq-item.open .faq-answer {
     max-height: 300px;
     padding-bottom: 20px;
 }

 footer {
     text-align: center;
     margin-top: 50px;
     font-size: 0.9rem;
     color: #888;
 }

 a {
     color: #25D366;
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }


 
/* Media query */
@media (max-width: 576px) {
    .faq-container {
         width: 200%;
    }
  .faq-question::after {
    display: none;
  }

  .btn-voltar {
    position: absolute;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
